# =========================
# Angular
# =========================
node_modules/
dist/
.angular/

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment files
# =========================
*.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Test Results
# =========================
TestResults/
coverage/

# =========================
# Publish
# =========================
publish/
artifacts/